
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("fonts/roboto/Roboto-Bold.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("fonts/roboto/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Slab";
  src: url("fonts/roboto-slab/Roboto-Slab-Bold.woff2") format("woff2"), url("fonts/roboto-slab/Roboto-Slab-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Slab-Bold";
  src: url("fonts/roboto-slab/Roboto-Slab-Bold.woff2") format("woff2"), url("fonts/roboto-slab/Roboto-Slab-Bold.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Slab";
  src: url("fonts/roboto-slab/Roboto-Slab-Regular.woff2") format("woff2"), url("fonts/roboto-slab/Roboto-Slab-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Slab-Regular";
  src: url("fonts/roboto-slab/Roboto-Slab-Regular.woff2") format("woff2"), url("fonts/roboto-slab/Roboto-Slab-Regular.woff") format("woff");
}
