{
  "dataPath": [
    "http://map.ffgl.eu/data/",
    "http://karte.ffdus.de/data/",
    "http://karte.freifunk-iserlohn.de/data/"
  ],
  "siteName": "Freifunk Fluss",
  "mapSigmaScale": 0.5,
  "showContact": true,
  "maxAge": 14,
  "mapLayers": [
    { "name": "MapQuest",
      "url": "https://otile{s}-s.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.jpg",
      "config": {
        "subdomains": "1234",
        "type": "osm",
        "attribution": "Tiles &copy; <a href=\"https://www.mapquest.com/\" target=\"_blank\">MapQuest</a>, Data CC-BY-SA OpenStreetMap",
        "maxZoom": 18
      }
    },
    {
      "name": "Stamen.TonerLite"
    }
  ],
  "siteNames": [
    { "site": "ffgl-bcd", "name": "Burscheid" },
    { "site": "ffgl-bgl", "name": "Bergisch Gladbach" },
    { "site": "ffgl-lln", "name": "Leichlingen" },
    { "site": "ffgl-ode", "name": "Odenthal" },
    { "site": "ffgl-ovr", "name": "Overath" },
    { "site": "ffgl-rrh", "name": "Rösrath" },
    { "site": "ffdus", "name": "Flingern" }
    { "site": "ffis", "name": "Iserlohn" }
  ],
  "nodeCharts": [
    {
      "name": "Statistik",
      "metrics": [
        {
          "id": "clients",
          "color": "#1566A9",
          "label": "Clients",
          "query": "sum(statistics_clients_total{nodeid=%22{{NODE_ID}}%22})"
        },
        {
          "id": "load",
          "color": "1566A9",
          "label": "Systemlast",
          "query": "sum(statistics_loadavg{nodeid=%22{{NODE_ID}}%22})"
        },
        {
          "id": "rx",
          "color": "#1566A9",
          "label": "Traffic (RX, kbps)",
          "query": "sum(rate(statistics_traffic_rx_bytes{nodeid=%22{{NODE_ID}}%22}[30m])/125)"
        }
      ],
      "defaultMetric": "clients",
      "url": "https://prometheus.map.eulenfunk.de/api/v1/query_range"
    }
  ]
}
